$aRem: 16; //px
$primary: black;
$secondary: #d8f8ff;
$danger: #FF2700;
$warning: #FFC525;
$success: #00B181;
$info: #3aa2fa;
$dark: #353535;
$light: #f5f6f8;
$white: #ffffff;
$gray: #b9bdbd;

$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-semi-bold: 600;
$font-weight-bold: 700;
$font-weight-bolder: 700;
$font-weight-extra-bold: 800;

$font-primary: 'Shantell Sans', sans-serif;
$font-secondary: 'Roboto', sans-serif;
$font-third: 'Lato', sans-serif;
